<div class="login-container">
    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <div class="login-title"><strong>Welcome</strong>, Please login</div>
            <form class="form-signin" role="form" novalidate angular-validator name="userLoginForm" ng-submit="signIn()">
                <div class="form-group">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" id="inputUsername" name="inputUsername" class="form-control" ng-model="username" placeholder="Username"
                           validate-on="blur" required required-message="'Username is required'">
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control" ng-model="password" placeholder="Password"
                           validate-on="blur" required required-message="'Password is required'">
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a ui-sref="forgotpass" class="btn btn-link btn-block">Forgot your password?</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info btn-block">Log In</button>
                    </div>
                </div>
                <div class="login-subtitle">
                    Don't have an account yet? <a ui-sref="register">Create an account</a>
                </div>               
            </form>
        </div>
        <div class="login-footer">
            <div class="row alert alert-danger margin-top-5" ng-show="showMessage">{{message}}</div>
        </div>
    </div>
</div>