<div class="login-container">
    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <div class="login-title"><strong>Register</strong>, Admin</div>
            <form class="form-signin" role="form" novalidate angular-validator name="userRegistrationForm" ng-submit="register()">
                <div class="form-group">
                    <input type="text" name="inputUsername" class="form-control" ng-model="username"
                           placeholder="Username" validate-on="blur" required required-message="'Username is required'">
                </div>
                <div class="form-group">
                    <input type="password" name="inputPassword" class="form-control" ng-model="password1" placeholder="Password"
                           validate-on="blur" required required-message="'Password is required'">
                </div>
                <div class="form-group">
                    <input type="password" name="inputPassword1" class="form-control" ng-model="password2" placeholder="Confirm Password"
                           validate-on="blur" required required-message="'Password is required'">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block">Register</button>
                </div>
                <div class="login-subtitle">
                    <a ui-sref="signin">Login to Admin</a>
                </div>
            </form>
        </div>
        <div class="login-footer">
            <ul class="list-group margin-top-5" ng-show="showErrorMessage">
                <li class="list-group-item list-group-item-danger" ng-repeat="message in errorMessages">
                    {{message}}
                </li>
            </ul>
            <div class="row alert alert-success margin-top-5" ng-show="showSuccessMessage">{{successMessage}}</div>
        </div>
    </div>
</div>